<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <listeners>
        <listener class="PHPUnit_Util_Log_VCR" file="vendor/php-vcr/phpunit-testlistener-vcr/PHPUnit/Util/Log/VCR.php" />
    </listeners>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>test</directory>
        </testsuite>
        <testsuite name="SauceOnly">
            <directory>test/BehatEditor/Tests/Sauce</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>test/BehatEditor/Tests/Core</directory>
        </testsuite>
        <testsuite name="Reporting">
            <directory>test/BehatEditor/Tests/Reporting</directory>
        </testsuite>
        <testsuite name="Git">
            <directory>test/BehatEditor/Tests/Git</directory>
        </testsuite>
    </testsuites>
</phpunit>